.alert
{
  height: 30px;
}

#ajuste
{
  margin-top:5px;
    font-family: system;
}

.well img
{
  width: 260px;
  height: 260px;
}

.usuario
{
  margin-top: 10px;
    font-family: "Viner Hand ITC";
}

    

